<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongsup.explog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAKk7KRv8_G4c5x3AK4qHwQkApIDoV7J6I" />

        <activity
            android:name=".view.splash.SplashActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로그인 페이지 -->
        <activity
            android:name=".view.signin.SignInActivity"
            android:theme="@style/AppTheme.NoStatusBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- 회원가입 페이지 -->
        <activity
            android:name=".view.signup.SignUpActivity"
            android:theme="@style/AppTheme.NoStatusBar" />

        <!-- 메인 페이지 -->
        <activity
            android:name=".view.main.MainActivity"
            android:theme="@style/AppTheme.NoStatusBar" />

        <!-- 갤러리 페이지 -->
        <activity
            android:name=".view.gallery.GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 세팅 페이지 -->
        <activity
            android:name=".view.setting.SettingActivity"
            android:theme="@style/AppTheme" />

        <!-- COVER 페이지 -->
        <activity
            android:name=".view.cover.CoverActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- POST 페이지 -->
        <activity
            android:name=".view.post.PostActivity"
            android:theme="@style/AppTheme.NoStatusBar"
            android:windowSoftInputMode="adjustPan"/>

        <!-- Post Text 작성 페이지 -->
        <activity
            android:name=".view.posttext.PostTextActivity"
            android:theme="@style/AppTheme.BaseNoActionbar" />

        <!-- Profile edit 페이지 -->
        <activity android:name=".view.setting.editprofile.EditProfileActivity" />
        <activity android:name=".view.setting.alarmsetting.AlarmSettingActivity" />
        <activity android:name=".view.follow.FollowActivity"></activity>
    </application>

</manifest>