<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongsup.explog">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.splash.SplashActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로그인 페이지 -->
        <activity
            android:name=".view.signin.SignInActivity"
            android:theme="@style/AppTheme.NoStatusBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- 회원가입 페이지 -->
        <activity
            android:name=".view.signup.SignUpActivity"
            android:theme="@style/AppTheme.NoStatusBar" />

        <!-- 메인 페이지 -->
        <activity
            android:name=".view.main.MainActivity"
            android:theme="@style/AppTheme.NoStatusBar" />

        <!-- 갤러리 페이지 -->
        <activity
            android:name=".view.gallery.GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- POST 페이지 -->
        <activity
            android:name=".view.post.PostActivity"
            android:theme="@style/AppTheme.NoStatusBar" />

        <!-- POST DETAIL 페이지 -->
        <activity
            android:name=".view.postdetail.PostDetailActivity"
            android:theme="@style/AppTheme.NoStatusBar">
        </activity>

    </application>

</manifest>